<div class="jumbotron">
  <h1>Task List</h1>
</div>
    <div class="container" ng-controller="MainCtrl">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-sm-offset-4 col-xs-offset-4">
          <div class="checkbox" ng-repeat="task in todoList">
            <input type="checkbox" ng-model="task.done">
            <span class="done-{{task.done}}" ng-bind="task.todoText"></span>
          </div>
        </div>
        </div>

        <div class="row text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Add Item</button>
        <button type="button" class="btn btn-primary" ng-click="remove()">Delete marked</button>
        </div>
        <!-- <h3>Remaining tasks:
        {{getTotalTodos()}}
        </h3> -->

        <br>

        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Add Task</h4>
            </div>
            <div class="modal-body">
              <p class="text-center">
                Write your task here.
              </p>

              <p class="text-center">
                <input type="text-lg-center" ng-model="taskDesc">
              </p>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-default btn-primary" data-dismiss="modal" ng-click="todoAdd()">
                Add</button>
            </div>
          </div>
        </div>
        </div>
    </div>

  </div>
